---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Julian Pinzer">
  <Header />
  <main>
    <Hero />
    <Experience />
    <Projects />
    <Contact />
  </main>
  <Footer />
</Layout>
